In [2]:
import pandas as pd
# import pyarrow as pa
# import numpy as np

In [3]:
yelp_reviews = pd.read_parquet('../Yelp-Data/review.parquet')

In [4]:
yelp_business_fix = pd.read_parquet('../Yelp-Data/business-fixed.parquet')

Para la función de ETL de este parquet debería tener la lista de business_id dependiendo del negocio <br>
Deberíamos asegurarnos que las columnas tenga sus tipos de datos especificos <br>
Deberíamos borrar duplicados y nulos <br>

In [5]:
yelp_reviews.info()
yelp_reviews.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [9]:
yelp_business_fix.head()

,business_id,name,address,city,state,latitude,longitude,stars,review_count,is_open,categories
0,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,PA,39.904320,-86.053080,4.0,20,1,"Steakhouses, Asian Fusion, Restaurants"
1,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,38.896563,-90.186203,3.0,94,1,"Restaurants, Specialty Food, Steakhouses, Food..."
2,aCDY7vXYMs54EbYuQScsnQ,39 North Taproom & Grill,110 S MacDade Blvd,Glenolden,DE,39.903697,-75.294981,4.5,25,1,"American (Traditional), Sports Bars, Restauran..."
3,CtMEJxpVMlNzFpB4PtFjfA,Aussie Grill,25340 Sierra Center Blvd,Lutz,AZ,28.192191,-82.396367,4.0,75,1,"Restaurants, American (New), Burgers, Fast Foo..."
4,Dtuf4vD0znzwJW9vk3iTNw,Tomo Japanese Steakhouse and Sushi Bar,"7411 N Keystone Ave, Ste A",Indianapolis,MO,39.888725,-86.121213,4.0,246,1,"Steakhouses, Restaurants, Sushi Bars, Japanese"

In [ ]:
yelp_buissnes_fix[yelp_buissnes_fix['name'] == 'Texas Roadhouse']

In [7]:
merged_df = yelp_reviews.merge(yelp_business_fix, on='business_id', how='inner')

In [8]:
merged_df.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,address,city,state,latitude,longitude,stars_y,review_count,is_open,categories
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,FL,34.416984,-119.695556,3.5,488,1,"Steakhouses, Sushi Bars, Restaurants, Japanese"
1,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1.0,0,2,0,"Sat down over a half hour, only miso and drink...",2017-06-28 01:04:59,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,FL,34.416984,-119.695556,3.5,488,1,"Steakhouses, Sushi Bars, Restaurants, Japanese"
2,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,3.0,9,4,6,Not bad. Sushi roll was good but options were ...,2017-01-14 23:31:35,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,FL,34.416984,-119.695556,3.5,488,1,"Steakhouses, Sushi Bars, Restaurants, Japanese"
3,URe-2Zlv7RoY4Ycr9JYVWw,SfMf7DEX7xT82OCcbZFsgQ,gebiRewfieSdtt17PTW6Zg,5.0,1,0,1,I'm very picky when it comes to Sushi. Quality...,2016-07-14 23:09:38,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,FL,34.416984,-119.695556,3.5,488,1,"Steakhouses, Sushi Bars, Restaurants, Japanese"
4,tHP5ihPd_W9OzfkKEWdIwA,aH3AH7V9g60w4pt3LpJ1_Q,gebiRewfieSdtt17PTW6Zg,4.0,0,0,0,Even though the sushi masters are not actually...,2014-11-30 07:35:54,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,FL,34.416984,-119.695556,3.5,488,1,"Steakhouses, Sushi Bars, Restaurants, Japanese"

In [9]:
steak_df = merged_df[merged_df['name'].str.contains('Texas Roadhouse')]

In [10]:
steak_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5402 entries, 10748 to 237143
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review_id     5402 non-null   object
 1   user_id       5402 non-null   object
 2   business_id   5402 non-null   object
 3   stars_x       5402 non-null   float64
 4   useful        5402 non-null   int64
 5   funny         5402 non-null   int64
 6   cool          5402 non-null   int64
 7   text          5402 non-null   object
 8   date          5402 non-null   object
 9   name          5402 non-null   object
 10  address       5402 non-null   object
 11  city          5402 non-null   object
 12  state         5402 non-null   object
 13  latitude      5402 non-null   float64
 14  longitude     5402 non-null   float64
 15  stars_y       5402 non-null   float64
 16  review_count  5402 non-null   int64
 17  is_open       5402 non-null   int64
 18  categories    5402 non-null   object
dtypes: float64(4), int64(5), object(10)
memory usage: 844.1+ KB

In [19]:
steak_df[steak_df['business_id'] == 'T9n_LqUUhC2b1ALhg57Y5Q']

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,address,city,state,latitude,longitude,stars_y,review_count,is_open,categories
10748,r0K3LE3H32LqhlLHFdnBxQ,345ZsXYJ0nnkqdz_ft0RLQ,T9n_LqUUhC2b1ALhg57Y5Q,5.0,0,0,0,We discovered this place a few months ago and ...,2016-03-07 01:48:40,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
10749,_NLZCZem4cIWMuIgZAIlRw,u4fVHPzmuMlu7gA0srl7xQ,T9n_LqUUhC2b1ALhg57Y5Q,5.0,0,0,0,This place is very busy. But the customer serv...,2015-01-04 02:03:53,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
10750,H0eZbmVLQHbM0dV6CbFOEQ,w8pAPcss3VQHt4PEBtXvXw,T9n_LqUUhC2b1ALhg57Y5Q,1.0,0,0,0,Texas Roadhouse does not give you the steak yo...,2018-07-07 21:21:35,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
10751,n08oID_WhJ1Lf13Z-8HzGw,hWDz2MFSUUm4e8TeLWrEYA,T9n_LqUUhC2b1ALhg57Y5Q,5.0,0,0,0,One of our favorite spots! Never a disappointm...,2017-01-16 14:40:31,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
10752,aaX8avbbfiAINilmancqNg,sOJvlksRkRHF8iYU_KbHbg,T9n_LqUUhC2b1ALhg57Y5Q,5.0,0,0,0,"Great place to eat, even with a horrible waitr...",2016-03-07 01:43:27,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10998,zhkWd2A8Wnf6p4ZG0ygLXg,6KWMWMgd_zUuh0O_i5KREA,T9n_LqUUhC2b1ALhg57Y5Q,4.0,0,0,0,"First found Texas Roadhouse in Watertown NY, a...",2011-01-08 04:07:51,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
10999,uq28bd2RPpAs7Irmi_ebYA,pamPk2N-OrlMjrY_cFJN5Q,T9n_LqUUhC2b1ALhg57Y5Q,3.0,4,0,2,I pop in here once in awhile for early bird sp...,2015-07-31 22:15:48,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
11000,k2v73Q5Qr9DDVCoUYKs1Kw,h8L_oYRfB_fhpwPM9-pgpQ,T9n_LqUUhC2b1ALhg57Y5Q,5.0,2,0,1,This is a restaurant that I drove by over and ...,2016-02-15 20:07:48,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
11001,d4jJl6N0Si-DGPM74PhENQ,byKsZhn1EVES3PHEhhbeUw,T9n_LqUUhC2b1ALhg57Y5Q,5.0,1,0,0,This is seriously one of my all-time favorite ...,2020-08-30 02:06:46,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."
11002,D2fd1NF-zqA1uPCP-VIppA,QXYdE6EQiUOhKy1FpQSD7w,T9n_LqUUhC2b1ALhg57Y5Q,2.0,1,0,0,Food is always cold/hard when you order for Ta...,2021-10-11 23:16:52,Texas Roadhouse,1545 Street Rd,Bensalem,PA,40.09165,-74.93997,4.0,240,1,"Steakhouses, Barbeque, Restaurants, American (..."